<ion-content>
  <div class="login-section ion-padding">
    <div class="heading ion-padding">
      <h1>MAGICMATH</h1>
      <p>Registrarse</p>
    </div>

    <div class="login-form ion-padding">
      

      <div class="form-input">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-item>

          <ion-label position="floating">Email</ion-label>
          <ion-input [(ngModel)]="usuario" type="text"></ion-input>
        </ion-item>
      </div>

      <div class="form-input">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input [(ngModel)]="nombre" type="text"></ion-input>
        </ion-item>
      </div>


      <div class="form-input">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">password</ion-label>
          <ion-input [(ngModel)]="password" type="password"></ion-input>
        </ion-item>
      </div>
    </div>

    <div class="action-buttons ion-padding">
      <ion-button size="large" (click)="registrarUsuario()">REGISTRARSE</ion-button>
      <a class="elementor-lost-password" href="https://buscadoresflamencos.com/mi-cuenta/lost-password/">
        ¿Olvidó su password?</a>
      <ion-button class="signup-button" size="large" fill="outline" routerLink="/login">YA TENGO UNA CUENTA</ion-button>

    </div>
  </div>
</ion-content>
