ion-content {
  --background: transparent;
}

.background-container {

  
    background-size: cover; /* Cambiado de "contain" a "cover" para ocupar toda la pantalla */
    display: flex;
    flex-direction: row; /* Cambiado de "horizontal" a "row" */
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Cambiado de "%" a "vh" para que ocupe el 100% de la altura de la pantalla */
  }

.custom-button1 img {
  width: 20%; /* ajusta el porcentaje según tu preferencia */
  height: auto; /* para mantener la proporción original */
}

.custom-button1 {
 
  background: transparent;
  position: relative;
  left: -40%;
  top: 400%;
  z-index: 999;
  transition: transform 0.3s ease;
}

.custom-button2 img {
  width: 20%; /* ajusta el porcentaje según tu preferencia */
  height: auto; /* para mantener la proporción original */
}

.custom-button2 {

  background: transparent;
  position: relative;
  left:-40%;
  top:500%;
  z-index: 9;
}

.custom-button3 img {
  width: 20%; /* ajusta el porcentaje según tu preferencia */
  height: auto; /* para mantener la proporción original */
}

.custom-button3 {

  background: transparent;
  position: relative;
  left: -15%;
  top: 400%;
  z-index: 9;
}


.custom-button4 img {
  width: 20%; /* ajusta el porcentaje según tu preferencia */
  height: auto; /* para mantener la proporción original */
}

.custom-button4 {

  background: transparent;
  position: relative;
  left: -15%;
  top: 32%;
    z-index: 99;
}

.custom-button5 img {
  width: 20%; /* ajusta el porcentaje según tu preferencia */
  height: auto; /* para mantener la proporción original */
}

.custom-button5 {

  background: transparent;
  position: relative;
  left:10%;
  top: 100%;
  z-index: 9;
}



