<ion-content class="ion-padding" fullscreen scroll-y="false">
  <div class="background-container">
    <div class="ion-text-center">
      <!-- Utiliza *ngIf para condicionar la ruta de redirección -->
      <a id="botonComenzar" [routerLink]="redirectRoute" class="custom-button">
        <img src="assets/icon/play2.png" alt="">
      </a>
    </div>
  </div>
</ion-content>



<style>
  ion-content {
  --background: transparent;
}

.background-container {
  background: url('../assets/FONDOGIF.gif') no-repeat center center fixed; /* Agrega 'fixed' para que el fondo sea fijo */
  background-size: cover; /* Utiliza 'cover' para que el fondo cubra toda la pantalla */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

ion-content::-webkit-scrollbar {
  display: none; /* Oculta la barra de desplazamiento */
}

  
</style>
