ion-content {
  --background: transparent;
  overflow: hidden; /* Para evitar el desplazamiento vertical */
}

.background-container {
 
  background-size: cover; /* Cubre todo el contenido */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ajustado para ocupar toda la altura de la pantalla */
}

.custom-button {
  display: block; /* Ocupa todo el ancho disponible */
  padding: 10px; /* Ajustado para dispositivos móviles */
  max-width: 200px; /* Ancho máximo del botón */
  border-radius: 20px;
  background-color: transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
}

.custom-button img {
  width: 100%;
  border-radius: 20px; /* Misma esquina redondeada que el botón */
}

.custom-button:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
